.btn {
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: inherit;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
}
.btn--primary {
  color: white;
  background-color: rgb(57, 207, 82);
}
.btn--primary:hover {
  background-color: rgb(33, 160, 54);
}

.btn--dagger {
  color: white;
  background-color: rgb(219, 65, 38);
}
.btn--dagger:hover {
  background-color: rgb(88, 26, 15);
}
